{{!-- Partial for each individual post --}}
<a href="/viewpost/{{id}}">
    <div class="card">
        <h3 class="post-header">{{title}} </h3>
        <h4>Posted by {{user.username}} on {{format_date created_at}}</h4>
        <div class="container">
            <p class="post-text">{{body}}</p>
        </div>
    </div>
</a>